name: Auto Update M3U Playlist

on:
  schedule:
    - cron: '*/15 * * * *'   # 每15分钟一次
  workflow_dispatch:           # 支持手动运行

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests


      - name: Fetch and process playlist
        run: |
          python .github/scripts/process_m3u.py

      - name: Commit and push if changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Auto update unicast-catchup.m3u and unicast-rtp.m3u
          file_pattern: unicast-*.m3u
     
      - name: Process multicast playlist
        run: python .github/scripts/process_multicast.py

